<!DOCTYPE html>
<html>
<style>
    .action {
        width: 100%;
        display: flex;
        flex-flow: column nowrap;
        justify-items: center;
    }

    .action .btn {
        width: 80%;
        margin: 3px;
        height: 35px;
        padding: 5px;
    }

    .action form {
        width: 100%;
    }
    .users-row td{
        text-align: center;
        vertical-align: middle;
    }
</style>

<body id="page-top" class=body>
    <div id="wrapper">



        <div class="container-fluid">
            <h3 class="text-dark mb-4">Users</h3>
            <div class="card shadow">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6 text-nowrap">
                            <div id="dataTable_length" class="dataTables_length" aria-controls="dataTable">
                                <label class="form-label">Show&nbsp;<select
                                        class="d-inline-block form-select form-select-sm">
                                        <option value="10" selected="">10</option>
                                        <option value="25">25</option>
                                        <option value="50">50</option>
                                        <option value="100">100</option>
                                    </select>&nbsp;</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="text-md-end dataTables_filter " id="dataTable_filter"><label class="form-label">
                                    <%= form_tag('/user', :method=>'get') do%>
                                        <%=text_field_tag :first_name, params[:first_name], class:" form-control-sm",
                                            placeholder:"Search"%>
                                            <button class="btn btn-primary py-0"><i class="fas fa-search"></i></button>
                                            <%end%>
                                </label>
                            </div>
                        </div>
                        <div>
                        </div>
                    </div>
                    <div class="table-responsive table mt-2" id="dataTable" role="grid"
                        aria-describedby="dataTable_info">
                        <table class="table my-0 text-center" id="dataTable">
                            <thead>
                                <tr>
                                    <th>First Name</th>
                                    <th>Last Name</th>
                                    <th>Phone Number</th>
                                    <th>State</th>
                                    <th>City</th>
                                    <th>Account Status</th>
                                    <th>Action</th>
                                    <th>Submitted Issues</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% @users.each do |user| %>
                                    <tr class="users-row">
                                        <td>
                                            <%= link_to "#{user.first_name} " ,personal_page_user_path(user),:class=>
                                                "link-dark" %>
                                        </td>
                                        <td>
                                            <%= link_to "#{user.last_name} " ,personal_page_user_path(user),:class=>
                                                "link-dark" %>
                                        </td>
                                        <td>
                                            <%=user.phone%>
                                        </td>
                                        <%@city=City.where(:id=>1)%>
                                            <% @city.each do |city| %>
                                                <%@gove=Governorate.where(:id=>city.governorate_id)%>
                                        <% end %>
                                            <% @gove.each do |gove| %>
                                            <td>
                                                <%=gove.name%>
                                            </td>
                                        <% end %>
                                        <% @city.each do |city| %>
                                            <td>
                                                <%=city.name%>
                                            </td>
                                        <% end %>
                                        <%if user.accountstatu==true%>
                                            <td>Active</td>
                                        <%else%>
                                            <td>Blocked</td>
                                        <%end%>
                                        <td class=action>
                                            <form action='/block'method='POST'>
                                                <input type='hidden'name='authenticity_token'value="<%= form_authenticity_token%>">
                                                <input type='hidden'name='block[accountstatu]'value=false>
                                                <input type='hidden'name='block[id]'value=<%=user.id%>>
                                                <input type=submit value=Block class="btn btn-warning d-block">
                                            </form>
                                            <form action='/active'method='POST'>
                                                <input type='hidden'name='authenticity_token'value="<%= form_authenticity_token%>">
                                                <input type='hidden'name='active[accountstatu]'value=true>
                                                <input type='hidden'name='active[id]'value=<%=user.id%>>
                                                <input type=submit value=Activate class="btn btn-primary d-block">
                                            </form>
                                            <%= link_to 'Destroy' , user,method: :delete, data: {confirm: 'Are you sure?'},class:"btn btn-danger"%>

                                        </td>
                                        <td>
                                            <%=Problem.where(:user_id=>
                                                user.id).count%>
                                        </td>
                                    </tr>
                                <% end %>
                            </tbody>
                        </table>
                    </div>
                    <div class="row">
                        <div class="col-md-6 align-self-center">
                            <p id="dataTable_info" class="dataTables_info" role="status" aria-live="polite">Showing 1 to
                                10 of 27</p>
                        </div>
                        <div class="col-md-6">
                            <nav class="d-lg-flex justify-content-lg-end dataTables_paginate paging_simple_numbers">
                                <ul class="pagination">
                                    <li class="page-item disabled"><a class="page-link" href="#"
                                            aria-label="Previous"><span aria-hidden="true">«</span></a></li>
                                    <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                    <li class="page-item"><a class="page-link" href="">2</a></li>
                                    <li class="page-item"><a class="page-link" href="">3</a></li>
                                    <li class="page-item"><a class="page-link" href="" aria-label="Next"><span
                                                aria-hidden="true">»</span></a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div><a class="border rounded d-inline scroll-to-top" href=""><i class="fas fa-angle-up"></i></a>
    </div>
    <script></script>
    <script></script>
</body>

</html>