<%= stylesheet_link_tag 'index' %>
  <div id="wrapper">
    <div class="container-fluid">
      <div class="d-sm-flex justify-content-between align-items-center mb-4">
        <h3 class="text-dark mb-0">Passed Issues</h3>
      </div>
      <div class="container">
        <% @problems.each do |problem| %>
          <div class="instagram-card shadow-sm p-3 mb-5 bg-white rounded">
            <div class="submitted-issue-img-likes">
              <div class="instagram-card-header">
                <div>
                  <% @submiter = User.where(:id=> problem.user_id)%>
                  <% @submiter.each do |user| %>
                    <%if @photos=Photo.where(:user_id=>user.id).present?%>
                      <%@photos= Photo.where(:user_id=>user.id)%>
                        <% @photos.each do |photo| %>
                          <% if (photo.image.attached?) %>
                            <%=image_tag(url_for(photo.image),class:'instagram-card-user-image')%>
                          <% else %>
                            <%=image_tag('avatar.png',class:'instagram-card-user-image')%>
                          <% end %>
                        <% end %>
                    <% else %>
                      <%=image_tag('avatar.png',class:'instagram-card-user-image')%>
                    <% end %>
                      <div class="instagram-card-user-name h5">
                        <%=user.first_name%>
                          <%=user.last_name%>
                      </div>
                  <%end%>
                </div>
                <button id="myBtn" class="three-dots fa fa-ellipsis-h"></button>
              </div>

              <div class="intagram-card-image">
                <% if (problem.image.attached?) %>
                  <%=image_tag(url_for(problem.image))%>
                    <% else %>
                      <p>no image</p>
                      <% end %>
              </div>
              <div class="category-date">
                <% @category=Category.where(:id=>problem.category_id)%>
                  <% @category.each do |category| %>
                    <div class="blog-category blog-text-success">
                      <%= category.name%>
                    </div>
                    <% end %>
                      <div class="issue_date blog-text-success">
                        <span>Date: </span>
                        <span>
                          <%=problem.created_at.to_date%>
                        </span>
                      </div>

              </div>
              <%if @employee.present?%>
              <div class="employee-confirmation">
                <%= form_tag({:controller=>'employees',:action=>'confirm'},:remote=> true, method: :post) do%>

                  <%# <input type='hidden' name='authenticity_token' value="<%= form_authenticity_token%>
                  <input type='hidden' name='confirm_issue[id]' value="<%=problem.id%>">
                  <button class='btn btn-primary' name=confirm_issue[status] value=Confirmed>Publish</button>
                  <%= link_to 'Destroy' , problem, method: :delete, data: { confirm: 'Are you sure?' },class:"btn btn-danger " %>
                <% end %>
                <div class="like-unlike">
                  <div class="like">
                    <button disabled><i class="far fa-thumbs-up un-like"></i></button>
                    <span>
                      <%=Confirm.where(:problem_id=>problem.id,:confirmed=>true).count%>
                    </span>
                  </div>
                  <div>
                    <button disabled><i class="far fa-thumbs-down un-like"></i></button>
                    <span>
                      <%=Confirm.where(:problem_id=>problem.id,:confirmed=>false).count%>
                    </span>
                  </div>
                </div>
              </div>
                
            <%else%>
            <%= form_tag({:controller=>'problems',:action=>'confirm'},:remote=> true, method: :post) do%>

                    <%# <input type='hidden' name='authenticity_token' value="<%= form_authenticity_token%>
                    <input type='hidden' name='confirm[problem_id]' value="<%=problem.id%>">
                    <div class="like-unlike">
                      <div class="like">
                        <button name=confirm[confirmed] value=true><i class="far fa-thumbs-up un-like"
                            onclick="handleLike()"></i></button>
                        <span>
                          <%=Confirm.where(:problem_id=>problem.id,:confirmed=>true).count%>
                        </span>
                      </div>
                      <div>
                        <button name=confirm[confirmed] value=false><i class="far fa-thumbs-down un-like"
                            onclick="handleLike()"></i></button>
                        <span>
                          <%=Confirm.where(:problem_id=>problem.id,:confirmed=>false).count%>
                        </span>
                      </div>
                    </div>

                <% end %>
                <%end%>
            </div>
            <div class="submitted-issue-details-comment">
              <div class="submitted-issue-details">
                <div class="h5">Issue Details</div>
                <div class="blog-table">
                  <div class="issue_info_parts">
                    <div class="h6">Location:</div>
                    <div class="blog-card-description">
                      <span>Governorate:</span>
                      <%@city=City.where(:id=>problem.city_id)%>
                      <% @city.each do |city| %>
                        <%@gove=Governorate.where(:id=>city.governorate_id)%>
                          <% @gove.each do |gove| %>
                            <span>
                              <%=gove.name%>
                            </span>
                          <% end %>
                      <% end %>
                    </div>
                    <div class="blog-card-description">
                      <span>City:</span>
                      <% @city.each do |city| %>
                        <span>
                          <%=city.name%>
                        </span>
                        <%end%>
                    </div>
                  </div>
                  <div class="issue_info_parts">
                    <div class="h6">Description</div>
                    <p class="blog-card-description">
                      <%=problem.desciption%>
                    </p>
                  </div>
                  <div class="issue_info_parts">
                    <div class="h6">Status</div>
                    <p class="blog-card-description">
                      <%=problem.status%>
                    </p>
                  </div>
                  <div class="issue_info_parts">
                    <div class="h6">Submitted by:</div>
                    <div class="blog-card-description">
                      <span>user:</span>
                      <%@submiter=User.where(:id=> problem.user_id)%>
                      <% @submiter.each do |user| %>
                        <span>
                          <%= link_to "#{user.first_name} #{user.last_name}" ,personal_page_user_path(user),:class=>"link-dark" %>
                        </span>
                      <% end %>
                    </div>
                  </div>
                  <div class="container">
                    <button id="open" class=open>View all <span id=number-cmt>
                        <%=Coment.where(:problem_id=>problem.id).count%>
                      </span> comments</button>
                  </div>
                  <div class="model-container" tabindex="-1">
                    <div class="model">
                      <div class="instagram-card-header">
                        <div>
                          <%@user.each do |user|%>
                            <%if @photos=Photo.where(:user_id=>user.id).present?%>
                              <%@photos= Photo.where(:user_id=>user.id)%>
                                <% @photos.each do |photo| %>
                                  <% if (photo.image.attached?) %>
                                    <%=image_tag(url_for(photo.image),class:'instagram-card-user-image')%>
                                  <% else %>
                                      <%=image_tag('avatar.png',class:'instagram-card-user-image')%>
                                  <% end %>
                                <% end %>
                            <% else %>
                              <%=image_tag('avatar.png',class:'instagram-card-user-image')%>
                            <% end %>
                            <span class="instagram-card-user-name">
                              <%=user.first_name%>
                                <%=user.last_name%>
                            </span>
                          <%end%>
                        </div>
                      </div>
                      <%@comments=Coment.where(:problem_id=>problem.id).order("id DESC")%>
                          <div class="users-comments">
                        <%@comments.each do |com|%>
                            <div class="cmt">
                                  <%user=User.where(:id=>com.user_id)%>
                                  <%user.each do |user|%>
                                    <% if @photos=Photo.where(:user_id=>user.id).present?%>
                                        <%@photos=Photo.where(:user_id=>user.id)%>
                                          <% @photos.each do |photo| %>
                                            <% if (photo.image.attached?) %>
                                              <%=image_tag(url_for(photo.image),class:'instagram-card-user-image')%>
                                            <% else %>
                                                  <%=image_tag('avatar.png',class:'instagram-card-user-image')%>
                                            <% end %>
                                        <% end %>
                                      <% else %>
                                        <%=image_tag('avatar.png',class:'instagram-card-user-image')%>
                                      <% end %>
                                      <div class="instagram-card-user-name">
                                        <%=user.first_name%>
                                          <%=user.last_name%>
                                      </div>
                                      <%end%>
                                        <div class="cmt-txt">
                                          <%=com.comment%>
                                        </div>
                            </div>
                          <% end %>

                          </div>
                            <div class="instagram-card-footer">
                              <%= form_tag({:controller=>'sessions',:action=>'comment'},:remote=> true, method: :post) do%>
                                <%# <input type='hidden' name='authenticity_token' value="<%= form_authenticity_token%>
                                <input type='hidden' name='feed[problem_id]' value="<%=problem.id%>">
                                <div class="instagram-card-footer">
                                  <input name=feed[comment] class="comments-input blog-text-success" id="enter-comment"type="text" placeholder="Add a comment..." />
                                  <input type=submit class="btn btn-outline-info post_cmt btn-post" id="post-comment"value=Post>
                                </div>
                              <% end %>
                            </div>
                            <i class="fas fa-times close"></i>
                  </div>
                  </div>
                </div>
              </div>
              <%= form_tag({:controller=>'sessions',:action=>'comment'},:remote=> true, :local=> true, html: {:id => "post-com" },method: :post) do%>

                <%# <input type='hidden' name='authenticity_token' value="<%= form_authenticity_token%>
                <input type='hidden' name='feed[problem_id]' value="<%=problem.id%>">
                <div class="instagram-card-footer">
                  <a class="footer-action-icons" href=""><i class="fa fa-heart-o"></i></a>
                  <input name=feed[comment] class="comments-input blog-text-success" id="enter-comment" type="text"
                    placeholder="Add a comment..." />
                  <button class="btn btn-outline-info post_cmt" id="post-comment" onclick="post">Post</button>
                </div>
              <% end %>
            </div>
          </div>
        <%end%>
      </div>
    </div>
  </div>

  <a class="border rounded d-inline scroll-to-top" href="" style="margin-right: 60px;">
    <i class="fas fa-angle-up"></i>
  </a>
  <a class="border rounded d-inline scroll-to-top" href="/submit_issue">
    <button class="btn btn-primary add-issue fa fa-plus" type="button" data-toggle="modal"
      data-target="#submit_issue"></button>
    <a>

      <script>
        $(function () {
          // var id = "id" + Math.random().toString(16).slice(2);
          $('.open').click(function () {
            $(this).click(function () {
              $('.model-container').delay(2000).css('transform', ' scale(1)')
            });
          });
          $('body').on('click', '.close', function () {
            $('.model-container').css('transform', ' scale(0)')
          });
          // function handleLike(){
          //   document.getElementsByClassName("un-like").toggleClass("far");
          //   document.getElementsByClassName("un-like").toggleClass("fa");

          // }
        });
        // $("").click(function(event){
        //   event.preventDefault();
        // });
        $('button').submit(function(e){
        $("input[name = comment]").enabled = enabled;
        e.preventDefault();
        return false;

 });

        
      </script>