
 <%= stylesheet_link_tag 'submit_issue'%>

<body>
    <div>
        <form action=/gover method=POST class="border container-form form_issue">
            <input type='hidden' name='authenticity_token' value="<%= form_authenticity_token%>">
            <label>Governorate</label>
            <input type=text name=gover[name]>
            <input type=submit>
        </form>
    </div>
     <div>
        <form action=/city method=POST class="border container-form form_issue">
            <input type='hidden' name='authenticity_token' value="<%= form_authenticity_token%>">
            <label>Governorate</label>
            <select name=city[governorate_id]>
                <option></option>
                <% @gover.each do |go| %>
                    <option value=<%=go.id%>><%=go.name%></option>
                <% end %>
            </select>
            <label>City</label>
            <input type=text name=city[name]>
            <input type=submit>
        </form>
    </div>
     <div>
        <form action=/cat method=POST class="border container-form form_issue">
            <input type='hidden' name='authenticity_token' value="<%= form_authenticity_token%>">
           
            <label>Category</label>
            <input type=text name=cat[name]>
            <input type=submit>
        </form>
    </div>
     <div>
        <form action=/mat method=POST class="border container-form form_issue">
            <input type='hidden' name='authenticity_token' value="<%= form_authenticity_token%>">
            <label>Category</label>
            <select name=mat[category_id]>
                <option></option>
                <% @cat.each do |cat| %>
                    <option value=<%=cat.id%>><%=cat.name%></option>
                <% end %>
            </select>
            <label>Materials</label>
            <input type=text name=mat[name]>
            <input type=submit>
        </form>
    </div>
<body>