<!DOCTYPE html>
<html>
  <head>
     <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>FixIt</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body id="page-top">

    <%= yield %>
<%# <script>

  // var modal = document.getElementById("menus");
    var modal = document.getElementById("modal");

    // var btn = document.getElementById("myBtn");
    var btn2 = document.getElementById("view_cmt");


    // btn.onclick = function () {
    //   modal.style.display = "block";
    //   document.body.style.overflow = 'hidden';
    // }

    btn2.onclick = function () {
      modal.classList.remove("modal1");
      modal.classList.remove("modal2");
      document.body.style.overflow = 'hidden';
    }

    // window.onclick = function (event) {
    //   // if (event.target == modal) {
    //   //   document.body.style.overflow = 'visible';
    //   //   modal.style.display = "none";
    //   // }
    //   if (event.target == modal) {
    //     document.body.style.overflow = 'visible';
    //     modal.style.display = "none";
    //   }
    // }
    function success() {
      if (document.getElementById("enter-comment").value === "") {
        document.getElementById('post-comment').disabled = true;
      }
      else{
        document.getElementById('post-comment').disabled = false;

      }
    }
      function preview() {
      frame.src = URL.createObjectURL(event.target.files[0]);
      }
    !function () {

        "use strict";
        var e = document.querySelector(".sidebar"), o = document.querySelectorAll("#sidebarToggle, #sidebarToggleTop");
        if (e) { e.querySelector(".collapse"); 
        var t = [].slice.call(document.querySelectorAll(".sidebar .collapse")).map((function (e) { 
            return new bootstrap.Collapse(e, { toggle: !1 }) 
        }));
        for (var l of o) l.addEventListener("click", (function (o) { 
            if (document.body.classList.toggle("sidebar-toggled"), e.classList.toggle("toggled"), e.classList.contains("toggled")) 
            for (var l of t) l.hide() })); window.addEventListener("resize", (function () {
                if (Math.max(document.documentElement.clientWidth || 0, window.innerWidth || 0) < 768) 
                for (var e of t) e.hide() })) 
            } 
            var n = document.querySelector("body.fixed-nav .sidebar"); 
            n && n.on("mousewheel DOMMouseScroll wheel", (function (e) { 
                if (Math.max(document.documentElement.clientWidth || 0, window.innerWidth || 0) > 768) { 
                    var o = e.originalEvent, t = o.wheelDelta || -o.detail; this.scrollTop += 30 * (t < 0 ? 1 : -1), e.preventDefault() } })); 
                    var i = document.querySelector(".scroll-to-top"); i && window.addEventListener("scroll", (function () { 
                        var e = window.pageYOffset; i.style.display = e > 100 ? "block" : "none" })) 
    }();
</script> %>
  </body>
</html>
